:root {
    --color-rojo-hacks: #a80165;
    --color-celeste: #7c97b1;
    --color-celeste-osc: #123b43;
}

.graph {
    width: 40%;
    height: fit-content;
    max-width: 480px;
    margin: 0 0 0 0;
    padding: 0;
}

#chart {
    display: block;
    width: 100%;
    height: 420px;
    background: transparent;
    border-radius: 10px;
    padding: 0;
    margin: -40px 0 0 0;
  }

  .info {
    width: 50%;
    max-width: 600px;
    height: auto;
    background: transparent;
    padding: 0;
    margin: 0 0 0 16px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  #infoTitle {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
  }

  #infoText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }

  #infoText span {
    color: var(--color-rojo-hacks);
  }

  .box {
    width: 100%;
    background: transparent;
    padding: 0;
    height: auto;
  }

   @media(max-width: 799px) {
      .graph {
          width: 100%;
          max-width: 799px;
      }

      #chart {
          width: 95%;
          height: 380px;
          margin: -50px 0 0 0;
        }

        .info {
          width: 100%;
          max-width: 799px;
          margin: 16px 0 0 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
        }

        #infoTitle {
          font-size: 20px;
        }

        #infoText {
          font-size: 16px;
        }

        .box {
          margin: 0 0 16px 0;
        }


   }